{% extends "posts/layout.html" %}
{% load static %}

{% block body %}
    
    <style type="text/css">
        #topbar {
            background-image: url(../../static/posts/aboutus1.jpg);
            background-size: 100% 100%;
        }

        #intro, #event {
            background: url(../../static/posts/1623px_vt.jpg) no-repeat fixed center center;
            background-size: cover; /*this is background for whole page*/
            color: white;
        }

        #topbar{
            height: 700px;
            width: 100%;
        }

        #leftbar {
            float: left;
            width: 95%;
        }

        #welcome {
            font-family: 'Times New Roman', Times, serif;
            font-size: 100px;
            padding-left:20%;

        }

        .discription {
            width: auto;
            display: block;
            font-family: 'Times New Roman', Times, serif;
            font-size: 30px;
            text-shadow: -1px 1px 0 #000;
            letter-spacing: 2px;
            font: bold;
            color: whitesmoke;
        }

        h1 {
            font-size: 40px;
        }
        @media only screen and (max-width: 1400px) {
            div #map {
                display: none!important;
            }
        }
    </style>

<div style="margin-left: 2%;margin-right: 2%;margin-top: 2%;">
    <div id="topbar" style="height: 600px;" class="overflow-auto">
        <div id="map" class="mapouter" style="display:inline-block; position: absolute; padding-left: 50%;padding-top: 5%;padding-right: 5%;">
            <div class="gmap_canvas">
                <iframe width="400" height="400" id="gmap_canvas" src="https://maps.google.com/maps?q=vung%20tau&t=&z=11&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                <!-- <a href="https://2torrentz.net">torrentz</a> -->
                <br>
                <style>.mapouter{position:relative;text-align:right;height:500px;width:600px;}</style>
                <a href="https://www.embedgooglemap.net"></a>
                <style>.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}</style>
            </div>
        </div>
        
        <br /><br /><br /><br />
        <p id="welcome">Về chúng tôi: </p>
        <div style="padding-left: 5%; width:60%;">
            <p class="discription mx-auto"> Toà báo này là 1 tổ chức phi lợi nhuận với mục đích mang tới cho người đọc những thông tinh xác thực và bổ ích</p>
            <p class="discription"> Các bài viết ở đây bao gồm nhiều thể loại từ kinh tế, tài chính cho tới sức khoẻ, gia đình và tin tức thế giới.</p>
        
        </div>

        
        <br />
    </div>

    <div id="intro" class="overflow-auto" style="margin-top:1%; padding-top:10%;padding-left:7%; width:100%;height:600px;">
        <br />
        <h1>Lịch sử: </h1>
        <p class="discription mx-auto" >Đây là toà báo đặt trụ sở ở Vũng Tàu</p>
        <p class="discription">Có từ lâu đời, đã đi cùng vơi lịch sử thành phố<br /> Nằm ở số 123 Bacu, 1 trong những con đường buôn bán tấp nập và đầu tiên tại đây</p>
        
    </div>

</div>
    
{% endblock %}
