{% extends "posts/layout.html" %}

{% block body %}

    <div id="center_body" class="container" style="min-height: 650px;">
        <div class="row justify-content-center" style="padding-left: 7%;padding-right: 7%;">

            <br/>
            <br/>
            <br/>

            <h1> Thể loại: {{ category.name }} </h1>
            <h1> </h1>
            <h3> posts with this category: </h3>
            <ul>
            {% for post in posts %}
                <a href=" {% url 'posts:post' post.id %}"  style="font-size:25px;"> {{ post.title }} </a>
                    <ul>
                        <li> {{ post.description }} </li>
                    </ul>
                <br/>
            {% endfor %}
            </ul>
            
            <br/>
            <br/>
            <br/>

            <h3> sub-categories of this category: </h3>
            <div class="d-flex">
            {% for category in sub_categories_tag %}
                <button type="button" class="btn btn-outline-secondary" disabled>{{ category.name }}</button>
            {% endfor %}
            </div>

            <br/>
            <br/>
            <br/>



        </div>        
    </div>



{% endblock %}
