{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>news</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous" />
    <script src="{% static 'posts/jquery-3.5.1.js' %}"></script>

    <style>
        #post_thumbnail {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 60%;
        }
    </style>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            computerTime();
            window.onresize = windowResize();

            user_input = $("#search_input")
            const artists_div = $('#replaceable-content')
            const endpoint = '/posts/'
            const delay_by_in_ms = 700
            let scheduled_function = false

            let ajax_call = function (endpoint, request_parameters) {
                $.getJSON(endpoint, request_parameters)
                    .done(response => {
                        // fade out the artists_div, then:
                        artists_div.fadeTo('slow', 0).promise().then(() => {
                            // replace the HTML contents
                            artists_div.html(response['html_from_view'])
                            // fade-in the div with new contents
                            artists_div.fadeTo('slow', 1)
                        })
                    })
            }
            user_input.on('keyup', function () {
                const request_parameters = {
                    title: $(this).val() // value of user_input: the HTML element with ID user-input
                }
                console.log(request_parameters)
                if (scheduled_function) {
                    clearTimeout(scheduled_function)
                }
                scheduled_function = setTimeout(ajax_call, delay_by_in_ms, endpoint, request_parameters)
            })

            $("#search_input").keydown(function(event) {
                if (event.keyCode == 13) {
                    event.preventDefault();
                }
            });
        });

        //check time with world clock API 
        function testWorldClockAPI() {
            var url = "http://worldclockapi.com/api/json/utc/now"
            var xmlRequest = new XMLHttpRequest();
            xmlRequest.open('GET', url, false);
            xmlRequest.send();
            jsonData = JSON.parse(xmlRequest.responseText);
            utcDateTime = jsonData.currentDateTime;
            currDateTime = jsonData["currentDateTime"];
            console.log(currDateTime);
            //change #datetime text to this time
            document.querySelector('#dateTime').innerHTML = currDateTime;
        }
        function computerTime() {
            var now = new Date();
            document.querySelector('#dateTime').innerHTML = now;
        }
        function windowResize() {
            var mq = window.matchMedia("(max-width: 850px)");
            if (mq.matches) {
                let brr = document.createElement('div');
                brr.classList.add('w-100');
                var list = document.getElementById("hightlight_thumbnail"); 
                list.insertBefore(brr, list.childNodes[2]);
            }
            else {
                // let brr = document.createElement('div');
                // brr.classList.add('w-100');
                // let text = document.createTextNode('Test2');
                // brr.appendChild(text);
                // var list = document.getElementById("hightlight_thumbnail"); 
                // // list.insertBefore(brr, list.childNodes[2]);
                // document.querySelector('#hightlight_thumbnail').append(brr);
            }
        }

    </script>

</head>

<body>
    <nav id="top_menu" style="display:inline-flexbox;">
        <img src="{% static 'posts/VnExpress.jpg' %}" style="display:inline-flexbox;" alt="logo icon" width="230"
            height="70" />
        <link rel="stylesheet" href="{% static 'posts/VnExpress.jpg' %}" alt=" links" />

        <a style="display:inline-flexbox;font-size: 0.5cm;padding-right: 5%;" id="dateTime">date here</a>
        <button id="top_menu_button" type="button" class="btn btn-primary dropdown-toggle"  data-bs-toggle="dropdown">sign in</button>
            <!-- col-lg-2 col-sm-0 -->
            <form class="dropdown-menu p-4">
                <div class="mb-3">
                  <label for="exampleDropdownFormEmail2" class="form-label">Email address</label>
                  <input type="email" class="form-control" id="exampleDropdownFormEmail2" placeholder="email@example.com">
                </div>
                <div class="mb-3">
                  <label for="exampleDropdownFormPassword2" class="form-label">Password</label>
                  <input type="password" class="form-control" id="exampleDropdownFormPassword2" placeholder="Password">
                </div>
                <div class="mb-3">
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="dropdownCheck2">
                    <label class="form-check-label" for="dropdownCheck2">
                      Remember me
                    </label>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary">Sign in</button>
              </form>        
              <button id="top_menu_button" type="button" class="btn btn-primary" class="col-lg-2 col-sm-0"
            onclick="testWorldClockAPI">international</button>
    </nav>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'posts:index' %}">Home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    {% for category in categories %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            {{ category.name }}
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% for sub_category in sub_categories %}
                            {% if sub_category.categories == category %}
                            <li><a class="dropdown-item" href="#">{{ sub_category.name }}</a></li>
                            {% endif %}
                            {% endfor %}

                        </ul>
                    </li>
                    {% endfor %}
                </ul>
                <form class="d-flex dropdown">
                    <input id="search_input" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success dropdown-toggle" type="button" data-bs-toggle="dropdown">
                        Search
                    </button>
                    <ul class="dropdown-menu dropdown-menu-start dropdown-menu-lg-end" aria-labelledby="dropdownMenu2">
                        
                        <li>
                            <button id="replaceable-content" class="dropdown-item" type="button" > empty... </button>
                        </li>
                        
                    </ul>
                </form>
            </div>
        </div>
    </nav>

    {% block body %}
    {% endblock %}
    
    <br/>
    

    <div class="botnav" style="background-color:royalblue;position:relative;height:150px; clear:both;">
        <div style="position:absolute;left:10%;top:3%;">
            <p style="font-size:20px;">connect with us: </p>
            <a href="https://facebook.com/"><img style="border-radius: 25px;" src=" {% static 'posts/logofb.png' %}" alt="fb logo" height="50" width="50" /></a>
            <a href="https://youtube.com/"><img style="border-radius: 25px;" src="{% static 'posts/youtubelogo.jpg' %}" alt="fb logo" height="50" width="50" /></a>
            <a href="https://twitter.com/?lang=en"><img style="border-radius: 25px;" src="{% static 'posts/tweetlogo.png' %}" alt="tw logo" height="50" width="50" /></a>
        </div>
        <div style="position:absolute;left:30%;top:5%; line-height:10px;">
            <p style="font-size:20px;">contact information:</p>
            <p>phone no: +65 1234 5678</p>
            <p>email: test@localhost.com</p>
            <p>hotline: +65 999</p>
        </div>
        <div style="position:absolute;left:85%;top:20%">
            <img src="{% static 'posts/EBF3 icon small.png' %}" height="75" width="75" />
        </div>
        <div style="position:absolute;left:60%;top:15%;">
            <a href="{% url 'posts:aboutus' %}" style="text-decoration:none;color:snow;font-size:25px;">About us</a>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
</body>

</html>